<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group buy</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
	<div class="container">
		<div class="content">
			<div class="header">
				<div class="logo">GroupBuy</div>
				<div class="desc">Want to buy in bulk but don't know enough people who want to join in? Join GroupBuy to find and join others in buying bulk items!
				</div>
			</div>
			<div class="footer">
				<div class="menu">
					<form class="form-reg">
						<input type="text" placeholder="Email" class="form-control" id = "Email" />
						<br />
						<!-- Icons don't work :(  -->
						<!-- <span class="glyphicon glyphicon-user"></span>  -->
						<input type="password" placeholder="Password" class="form-control" id="Password" />
						<!-- <span class="glyphicon glyphicon-lock"></span> -->
					</form>
					<br>
					<a href="#" class="btn btn-register btn-lg btn-outline">Sign Up</a>
					<br>
					<a href="#" class="btn btn-login btn-lg btn-outline">Sign In</a>
					
					<a href="#" class="btn btn-back btn-lg btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
