<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group buy</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{url_for('static', filename='css/manage.css')}}">
</head>
<body>
	<div class="stickyheader">
		<div class="logo-background"></div>
		<div class="logo">GroupBuy</div>
		<ul class="categories">
			<li><a href="/items/">Listings</a></li>
			<li><a href="/profile/">My Profile</a></li>
			<!-- <li class="active"><a href="manage.html">Manage</a></li> -->
		</ul>
	</div>

	<div class="content">
		<h3 class="header">Purchased</h3>
		<hr>
    {% for item in items %}
		<div class="item">
			<img class="img-responsive" src="https://24.media.tumblr.com/b2977986d23c10bc154a006701c96050/tumblr_n1fs71Bwcy1sg1hjoo1_500.jpg" />
	        <div class="name">{{item.name}}</div>
	        <br>
	        <div class="desc">{{item.description}}</div>
	        <br>
        	<span class="seller">{{item.user_id}}</span>
        	<br>
			<div class="price">${{item.price}}</div>
			<br>
			<div class="origprice">${{originalprice}}</div>
			<!-- <div class="details"><a href="/singleitem/{{id}}">Click for full listing</a></div> -->
    </div>
    <hr>
    {% endfor %} 
	</div>	

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script src-"{{url_for('static', filename='js/bootstrap.js')}}"></script>
<script src="{{url_for('static', filename='js/manage.js')}}"></script>

</body>
</html>
