<!doctype html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Group buy</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
</head>
<body>
	<div class="stickyheader">
		<div class="logo-background"></div>
		<div class="logo">GroupBuy</div>
		<ul class="categories">
			<li><a href="/items/">Listings</a></li>
			<li class="active"><a href="">My Profile</a></li>
			<!-- <li><a href="manage.html">Manage</a></li> -->
		</ul>
	</div>
	<div class="content">
		<h3 class="name">Edward T. Hung</h3>
		<img class="input-group profilepic" src="http://lorempixel.com/300/300/people">
		<ul class="container nav nav-tabs">
			<li class="active reviewtab"><a href="#reviews" data-toggle="tab">Reviews</a></li>
			<li class="historytab"><a href="#current" data-toggle="tab">Current Listings</a></li>
		</ul>

		<div class="tabcontainer">
		<div class="tab-content">
			<div class="tab-pane active" id="reviews">
  				<div class="reviewlist">
      				Date: Jan 2, 2013 <br>
	      			Item: AA Jackets <br>
	      			Rating: 98% <br> 
	      			Review: WOW <br>
  				</div>
          		<hr>
          		<div class="reviewlist">
      				Date: Jan 23, 2013 <br>
	      			Item: Apples <br>
	      			Rating: 23% <br> 
	      			Review: NO GOOD <br>
  				</div>
  				<hr>
        	</div>
        	<div class="tab-pane" id="current">
        		<div class="historylist">
	          		Date: Oct 23, 2014 <br>
	      			Selling: Julian Pie <br>
	      			Price: 12 each <br>
          		</div>
          		<hr>
          		<div class="historylist">
	          		Date: May 24, 2014 <br>
	      			Selling: Hippos <br>
	      			Price: 100 each <br>
          		</div>
          		<hr>
      		</div>
      	</div>
      	</div>
	</div>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
		<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
		<script src="{{url_for('static', filename='js/profile.js')}}"></script>

	</body>
	</html>
